<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset = "UTF-8" />
  <title>OAuth2 Demo Application</title>
</head>
<body>
<h3>Welcome to the OAuth2 demo app!</h3>
<div>
  <div th:text="${session.access_token} == null ? ' You are logged out' : 'You are logged in as GitHub user ' + ${name}"></div>
  <br /><br />
  <a th:if="${session.access_token} == null" th:href="authenticate">Log in!</a>
  <a th:unless="${session.access_token} == null" th:href="logout">Log out!</a>
</div>
</body>
</html>
